.navColor {
    background-color: #646362 !important;
    height: 25px;
    vertical-align: bottom;
    align-items: center;
    font-weight: bold;
    text-align: center;

    }

.color-me{
        color:white !important;
    }

