/* .fondo-ventana {
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    image-resolution: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

  } */

  