
/* ESTILOS VENTANA directorio */
.columna-izquierda {
  height: 100vh;
}

.fondo-imagen {
  background-image: url("../assets/fondo.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  
}

.container-logo-tablero {
  align-items: center;
  min-width: 100vh;
  min-width: 100vw;

}


.logotipo-superior {
padding-left: 20px;
padding-top: 20px;
background-size: cover;

}
/* 
.estilos-desplegable{
font-size: 2em;
font-weight: lighter;
background-color: grey;

}
 */


.tablon {
padding-top: 30px;
width: 100vw;
height: 40vh;
vertical-align:middle;
}

.desplegable{
  align-content: top;  
  margin-bottom: 20px;
  width: 100vw;
  height: 60vh;
  }

.calendario {
position: relative;
height: 40vh;
}

.h20{
  height: 20vh;
}

.h-25{
  height: 25vh;
}

.h-65{
  height: 65vh;
}
.h35{
  height: 35vh;
}
.h55{
  height: 55vh;
}
.h100{
  height: 100vh;
}

.w-100{
  min-width: 100vw;
}

.r-padding-0{
  padding-right: 0 !important;
}






















.fondo-imagen {
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: initial;

  }

  .directorio-desplegable {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    align-self: flex-end;
    align-items: center;
    padding: 0px;
  }

  

  