
/* ESTILOS VENTANA directorio */
.columna-izquierda {
  height: 100vh;
  width: 100vw;
}

  .fondo-imagen {
    background-image: url("../assets/fondo.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: space-between;
    flex-direction:column;

  }

  .boton-listin{
    background-image: url("../assets/telefonopeq.png");
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 3%;
    background-repeat: no-repeat;

    
  }

/*   
@media  {
  .fondo-imagen {
    background-color: #B5A89B;
    background-image: none;
  }
} */



.logotipo-superior {
padding-right: 20px;
padding-top: 20px;
margin-bottom: 3%;
height: auto; 
min-width: 250px; 

}
/* 
.estilos-desplegable{
font-size: 2em;
font-weight: lighter;
background-color: grey;

}
 */
.columna-derecha-directorio {
  height: 100vh;
  background-color: #B5A89B;
  padding: 20%;

}

.tablon {
padding-top: 30px;
width: 100vw;
height: 100vh;
margin: 20%;
float: left;
vertical-align:middle;
}

.desplegable{
  vertical-align: top;
  width: 100vw;
  height: 60vh;
  }

.calendario {
  height: 40vh;
  
}

.h20{
  height: 20vh;
}

.h-25{
  height: 25vh;
}

.h-65{
  height: 65vh;
}
.h35{
  height: 35vh;
}
.h55{
  height: 55vh;
}
.h100{
  height: 100vh;
}

.w-100{
  width: 100vw;
}

.r-padding-0{
  padding-right: 0 !important;
}


  

  