.container {
    padding: 40px;
}

.primera-row {
    height: 25vh;    
      }

.linea-titulos {
    height: 10vh;    

} 

.triangulo {
  /* background-image: url("../assets/triangulologin.png"); */
  height: 5vh;
  width: 5vh;
  /* margin-bottom: 1rem; */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  /* background-size: cover; */
  padding: 0;
}

.lineaListin {
padding-top: 5em;
align-items: flex-end;

}

.columna-logotipo {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: 1em;
  }

.columna-Titulo {
    text-decoration:  white;
    background-color: #A99E92;
    font-size: 80pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size-adjust: initial;
}

.texto-Titulos-Apartados {
  font-size: 25pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  height: 25px;
  width: 300px;
  vertical-align: middle;
  padding: 0em;


}

.texto-Titulos-Fondo {
    background-color: #A99E92;
    vertical-align: middle;
    color: white;
    text-align: left;
    font-size: 80pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;

}

.texto-Titulos {
    text-decoration:  white;
    text-align: left;
    font-size: 80pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.apartados-gestion {
  background-color: white;
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  border-style: solid 1px;
  margin: 20px;
  box-shadow: 10px 5px 25px 0px grey;
}

/* .triangulo-gestion {
  background-image: url("../assets/triangulologin.png");
  height: 11vh;
  width: 10vh;
  margin-bottom: 1rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
} */


  .h-10{
    height: 10vh;
  }

.h-20{
  height: 20vh;
}

.h-25{
  height: 25vh;
}

.h-65{
  height: 65vh;
}
.h-75{
  height: 75vh;
}
.h35{
  height: 35vh;
}
.h55{
  height: 55vh;
}
.h100{
  height: 100vh;
}

.w-100{
  width: 100vw;
}


.w-10{
  width: 10vw;
}.w-25{
  width: 25vw;
}


