
/* ESTILOS VENTANA directorio */

.fondo-imagen {
    background-image: url("../../assets/fondo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;

  }

.rowBotonListin{
  height: 15vh;
  vertical-align: top;
}

/* .primera-linea {
  padding-top: 40px;
  padding-left: 40px;
  vertical-align: top;
  } */
  
 
.columna-tablon {
  vertical-align: bottom;
  margin-right: 50px;
  margin-left: 50px;
  } 
   
.linea-contenedor{
height: 100vh;
padding-top: 40px;
}


.linea-uno {
  height: auto;
}



.linea-dos {
  align-items: center;
  height: 15vh;

} 


.columna-logotipo {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: 1em;
}
  .columna-derecha {
    vertical-align: top;
    background-color: transparent;

  }
    

.boton-listin{
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
}

.ajuste-boton {
  width: 20%;
  height: 20%;
}

.desplegable{
  vertical-align: top;
  width: 100%;
  }

  .h-10{
    height: 10vh;
  }

.h-20{
  height: 20vh;
}

.h-25{
  height: 25vh;
}

.h-65{
  height: 65vh;
}
.h-75{
  height: 75vh;
}
.h35{
  height: 35vh;
}
.h55{
  height: 55vh;
}
.h100{
  height: 100vh;
}

.w-100{
  width: 100vw;
}


.w-10{
  width: 10vw;
}.w-25{
  width: 25vw;
}
.r-padding-0{
  padding-right: 0 !important;
}


  

  